<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Çerez Politikası</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Çerez Politikas</p>
        </div>
    </div>
</div>

<div class="container mb-5">
    <p>
        Web sitemizde kullanıcı deneyimini geliştirmek amacıyla çerezler kullanılmaktadır.
    </p>

    <h5>Kullanılan Çerez Türleri</h5>
    <ul>
        <li>Zorunlu çerezler</li>
        <li>Performans ve analiz çerezleri</li>
        <li>Fonksiyonel çerezler</li>
    </ul>
</div>
