<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">KVKK Aydınlatma Metni</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">KVKK Aydınlatma Metni</p>
        </div>
    </div>
</div>

<div class="container mb-5">
    <p>
        6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında kişisel verileriniz
        hukuka uygun olarak işlenmektedir.
    </p>

    <h5>Haklarınız</h5>
    <ul>
        <li>Verilerinizin işlenip işlenmediğini öğrenme</li>
        <li>Eksik veya yanlış işlenen verilerin düzeltilmesini isteme</li>
        <li>Verilerin silinmesini veya yok edilmesini talep etme</li>
    </ul>
</div>
