<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Ön Bilgilendirme Formu</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Ön Bilgilendirme Formu</p>
        </div>
    </div>
</div>

<div class="container mb-5">
    <p>
        Bu form, müşterilerin mesafeli satış sözleşmesini onaylamadan önce bilgilendirilmesi
        amacıyla hazırlanmıştır.
    </p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">✔ Satıcının açık adres ve iletişim bilgileri</li>
        <li class="list-group-item">✔ Ürün özellikleri ve toplam fiyat</li>
        <li class="list-group-item">✔ Ödeme ve teslimat yöntemleri</li>
        <li class="list-group-item">✔ Cayma hakkı ve iade koşulları</li>
    </ul>

    <p class="mt-4">
        Siparişinizi tamamlayarak bu bilgileri okuduğunuzu ve kabul ettiğinizi beyan etmiş olursunuz.
    </p>
</div>
