<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Gizlilik Politikası</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Gizlilik Politikası</p>
        </div>
    </div>
</div>

<div class="container mb-5">
    <p>
        Kullanıcılarımızın gizliliği bizim için son derece önemlidir. Bu sayfa,
        kişisel verilerinizin nasıl toplandığını ve kullanıldığını açıklar.
    </p>

    <h5>Toplanan Veriler</h5>
    <ul>
        <li>Ad, soyad</li>
        <li>E-posta adresi</li>
        <li>Teslimat adresi</li>
        <li>IP bilgileri</li>
    </ul>

    <h5>Verilerin Kullanım Amacı</h5>
    <p>
        Kişisel verileriniz; sipariş süreçlerini yürütmek, hizmet kalitesini artırmak
        ve yasal yükümlülükleri yerine getirmek amacıyla kullanılmaktadır.
    </p>
</div>
