<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">İade ve Değişim</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">İade ve Değişim</p>
        </div>
    </div>
</div>

<div class="container mb-5">
    <p>
        Satın aldığınız ürünleri teslim tarihinden itibaren 14 gün içinde iade edebilirsiniz.
    </p>

    <h5>İade Şartları</h5>
    <ul>
        <li>Ürün kullanılmamış olmalıdır</li>
        <li>Orijinal ambalajında gönderilmelidir</li>
        <li>Fatura ile birlikte iade edilmelidir</li>
    </ul>

    <p class="mt-3">
        İade onaylandıktan sonra ücret, ödeme yönteminize göre 7 iş günü içinde tarafınıza
        iade edilir.
    </p>
</div>
